html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Light Theme Variables */
:root {
  --purpur-primary-color: #6200ea;
  --purpur-secondary-color: #03dac6;
  --purpur-background-color: #f5f5f5;
  --purpur-text-color: #333;
  --purpur-border-radius: 8px;
  --purpur-heading-color: #222;
  --purpur-body-background: #ffffff;
  --purpur-btn--primary-light: #bb86fc50;
}

/* Dark Theme Variables */
[data-theme="dark"] {
  --purpur-primary-color: #bb86fc;
  --purpur-background-color: #000000;
  --purpur-text-color: #e0e0e0;
  --purpur-heading-color: #ffffff;
  --purpur-body-background: #181818;
}

:root {
    --purpur-border-radius-xs: 2px;
    --purpur-border-radius-sm: 4px;
    --purpur-border-radius-md: 8px;
    --purpur-border-radius-lg: 16px;
    --purpur-border-radius-full: 999px;
    --purpur-border-width-xs: 1px;
    --purpur-border-width-sm: 2px;
    --purpur-border-width-md: 3px;
    --purpur-border-width-lg: 6px;
    --purpur-breakpoint-sm: 0px;
    --purpur-breakpoint-md: 600px;
    --purpur-breakpoint-lg: 1024px;
    --purpur-breakpoint-xl: 1440px;
    --purpur-breakpoint-relative-sm: 0em;
    --purpur-breakpoint-relative-md: 37.5em;
    --purpur-breakpoint-relative-lg: 64em;
    --purpur-breakpoint-relative-xl: 90em;
    --purpur-color-functional-transparent: hsla(0,0%,100%,0);
    --purpur-color-functional-white: #fff;
    --purpur-color-functional-black: #000;
    --purpur-color-transparent-white-950: hsla(0,0%,100%,.95);
    --purpur-color-transparent-white-900: hsla(0,0%,100%,.89);
    --purpur-color-transparent-white-850: hsla(0,0%,100%,.84);
    --purpur-color-transparent-white-800: hsla(0,0%,100%,.79);
    --purpur-color-transparent-white-700: hsla(0,0%,100%,.66);
    --purpur-color-transparent-white-600: hsla(0,0%,100%,.55);
    --purpur-color-transparent-white-500: hsla(0,0%,100%,.46);
    --purpur-color-transparent-white-400: hsla(0,0%,100%,.37);
    --purpur-color-transparent-white-300: hsla(0,0%,100%,.29);
    --purpur-color-transparent-white-200: hsla(0,0%,100%,.21);
    --purpur-color-transparent-white-150: hsla(0,0%,100%,.16);
    --purpur-color-transparent-white-100: hsla(0,0%,100%,.11);
    --purpur-color-transparent-white-50: hsla(0,0%,100%,.07);
    --purpur-color-transparent-black-950: rgba(0,0,0,.93);
    --purpur-color-transparent-black-900: rgba(0,0,0,.88);
    --purpur-color-transparent-black-850: rgba(0,0,0,.84);
    --purpur-color-transparent-black-800: rgba(0,0,0,.8);
    --purpur-color-transparent-black-700: rgba(0,0,0,.71);
    --purpur-color-transparent-black-600: rgba(0,0,0,.62);
    --purpur-color-transparent-black-500: rgba(0,0,0,.54);
    --purpur-color-transparent-black-400: rgba(0,0,0,.44);
    --purpur-color-transparent-black-300: rgba(0,0,0,.33);
    --purpur-color-transparent-black-200: rgba(0,0,0,.22);
    --purpur-color-transparent-black-150: rgba(0,0,0,.16);
    --purpur-color-transparent-black-100: rgba(0,0,0,.1);
    --purpur-color-transparent-black-50: rgba(0,0,0,.05);
    --purpur-color-blue-950: #011320;
    --purpur-color-blue-900: #002036;
    --purpur-color-blue-800: #03385b;
    --purpur-color-blue-700: #014d80;
    --purpur-color-blue-600: #0063a6;
    --purpur-color-blue-500: #0078cb;
    --purpur-color-blue-400: #3694d3;
    --purpur-color-blue-300: #62b2e7;
    --purpur-color-blue-200: #91cdf4;
    --purpur-color-blue-100: #caeaff;
    --purpur-color-blue-50: #e8f6ff;
    --purpur-color-orange-950: #1a0f00;
    --purpur-color-orange-900: #2b1b03;
    --purpur-color-orange-800: #4c2f03;
    --purpur-color-orange-700: #6a4102;
    --purpur-color-orange-600: #8b5301;
    --purpur-color-orange-500: #a86602;
    --purpur-color-orange-400: #cc7a00;
    --purpur-color-orange-300: #f39200;
    --purpur-color-orange-200: #f9bb5b;
    --purpur-color-orange-100: #ffe1b3;
    --purpur-color-orange-50: #fff2de;
    --purpur-color-red-950: #2c000e;
    --purpur-color-red-900: #440016;
    --purpur-color-red-800: #700025;
    --purpur-color-red-700: #980233;
    --purpur-color-red-600: #c00543;
    --purpur-color-red-500: #e4175c;
    --purpur-color-red-400: #fb4885;
    --purpur-color-red-300: #ff80ab;
    --purpur-color-red-200: #ffafc9;
    --purpur-color-red-100: #ffdde8;
    --purpur-color-red-50: #fff0f5;
    --purpur-color-green-950: #00150a;
    --purpur-color-green-900: #002411;
    --purpur-color-green-800: #003e1e;
    --purpur-color-green-700: #02562b;
    --purpur-color-green-600: #017037;
    --purpur-color-green-500: #018842;
    --purpur-color-green-400: #1fa15e;
    --purpur-color-green-300: #3dbf7c;
    --purpur-color-green-200: #79d9a7;
    --purpur-color-green-100: #c5efd9;
    --purpur-color-green-50: #e1f9ec;
    --purpur-color-gray-950: #111;
    --purpur-color-gray-900: #1e1e20;
    --purpur-color-gray-850: #2a2a2c;
    --purpur-color-gray-800: #353537;
    --purpur-color-gray-700: #4a4a4d;
    --purpur-color-gray-600: #5f5f63;
    --purpur-color-gray-500: #757579;
    --purpur-color-gray-400: #8d8d94;
    --purpur-color-gray-300: #aaaab0;
    --purpur-color-gray-200: #c6c6cd;
    --purpur-color-gray-150: #d6d6dd;
    --purpur-color-gray-100: #e5e5eb;
    --purpur-color-gray-50: #f5f5fa;
    --purpur-color-teal-950: #011413;
    --purpur-color-teal-900: #032220;
    --purpur-color-teal-800: #063c39;
    --purpur-color-teal-700: #02534f;
    --purpur-color-teal-600: #006c67;
    --purpur-color-teal-500: #00847e;
    --purpur-color-teal-400: #3a9b96;
    --purpur-color-teal-300: #6eb5b2;
    --purpur-color-teal-200: #a1cfcd;
    --purpur-color-teal-100: #d5eae9;
    --purpur-color-teal-50: #edf5f5;
    --purpur-color-beige-950: #170f09;
    --purpur-color-beige-900: #241c16;
    --purpur-color-beige-800: #3b332d;
    --purpur-color-beige-700: #4f4741;
    --purpur-color-beige-600: #665e58;
    --purpur-color-beige-500: #807268;
    --purpur-color-beige-400: #a08877;
    --purpur-color-beige-300: #bba494;
    --purpur-color-beige-200: #d7c3b5;
    --purpur-color-beige-100: #ede1d8;
    --purpur-color-beige-50: #f9f1ec;
    --purpur-color-purple-950: #1f002e;
    --purpur-color-purple-900: #29003e;
    --purpur-color-purple-800: #4e0174;
    --purpur-color-purple-700: #6d02a3;
    --purpur-color-purple-600: #8c07d0;
    --purpur-color-purple-550: #990ae3;
    --purpur-color-purple-500: #b12df4;
    --purpur-color-purple-400: #c461f7;
    --purpur-color-purple-300: #d58df9;
    --purpur-color-purple-200: #e4b6fb;
    --purpur-color-purple-100: #f4e0ff;
    --purpur-color-purple-50: #faf0ff;
    --purpur-color-overlay-default: var(--purpur-color-transparent-black-300);
    --purpur-color-border-status-success: var(--purpur-color-green-500);
    --purpur-color-border-status-info: var(--purpur-color-blue-500);
    --purpur-color-border-status-warning: var(--purpur-color-orange-400);
    --purpur-color-border-status-error: var(--purpur-color-red-500);
    --purpur-color-border-interactive-subtle-hover: var(--purpur-color-purple-700);
    --purpur-color-border-interactive-subtle: var(--purpur-color-transparent-black-400);
    --purpur-color-border-interactive-selected: var(--purpur-color-purple-550);
    --purpur-color-border-interactive-primary-negative-active: var(--purpur-color-purple-200);
    --purpur-color-border-interactive-primary-negative-hover: var(--purpur-color-purple-200);
    --purpur-color-border-interactive-primary-active: var(--purpur-color-purple-900);
    --purpur-color-border-interactive-primary-hover: var(--purpur-color-purple-800);
    --purpur-color-border-interactive-primary-negative: var(--purpur-color-purple-100);
    --purpur-color-border-interactive-primary: var(--purpur-color-purple-700);
    --purpur-color-border-interactive-focus: var(--purpur-color-purple-500);
    --purpur-color-border-weak-negative: var(--purpur-color-transparent-white-150);
    --purpur-color-border-weak: var(--purpur-color-transparent-black-150);
    --purpur-color-border-strong-negative: var(--purpur-color-transparent-white-500);
    --purpur-color-border-strong: var(--purpur-color-transparent-black-500);
    --purpur-color-border-medium-negative: var(--purpur-color-transparent-white-300);
    --purpur-color-border-medium: var(--purpur-color-transparent-black-300);
    --purpur-color-background-tone-on-tone-quaternary: var(--purpur-color-beige-50);
    --purpur-color-background-tone-on-tone-tertiary: var(--purpur-color-beige-100);
    --purpur-color-background-tone-on-tone-secondary: var(--purpur-color-purple-100);
    --purpur-color-background-tone-on-tone-primary: var(--purpur-color-purple-900);
    --purpur-color-background-status-black-friday: var(--purpur-color-gray-900);
    --purpur-color-background-status-attention: var(--purpur-color-purple-700);
    --purpur-color-background-status-special: var(--purpur-color-purple-100);
    --purpur-color-background-status-neutral: var(--purpur-color-gray-150);
    --purpur-color-background-status-warning-strong: var(--purpur-color-orange-400);
    --purpur-color-background-status-warning: var(--purpur-color-orange-100);
    --purpur-color-background-status-error-strong: var(--purpur-color-red-400);
    --purpur-color-background-status-error: var(--purpur-color-red-100);
    --purpur-color-background-status-success-strong: var(--purpur-color-green-400);
    --purpur-color-background-status-success: var(--purpur-color-green-100);
    --purpur-color-background-status-info-strong: var(--purpur-color-blue-400);
    --purpur-color-background-status-info: var(--purpur-color-blue-100);
    --purpur-color-background-interactive-destructive-active: var(--purpur-color-red-700);
    --purpur-color-background-interactive-destructive-hover: var(--purpur-color-red-600);
    --purpur-color-background-interactive-destructive: var(--purpur-color-red-500);
    --purpur-color-background-interactive-read-only: var(--purpur-color-transparent-black-50);
    --purpur-color-background-interactive-inactive-negative: var(--purpur-color-transparent-white-150);
    --purpur-color-background-interactive-inactive: var(--purpur-color-transparent-black-50);
    --purpur-color-background-interactive-transparent-negative-active: var(--purpur-color-purple-700);
    --purpur-color-background-interactive-transparent-active: var(--purpur-color-purple-300);
    --purpur-color-background-interactive-transparent-negative-hover: var(--purpur-color-purple-800);
    --purpur-color-background-interactive-transparent-hover: var(--purpur-color-purple-200);
    --purpur-color-background-interactive-transparent: var(--purpur-color-functional-transparent);
    --purpur-color-background-interactive-disabled-negative: var(--purpur-color-transparent-white-100);
    --purpur-color-background-interactive-disabled: var(--purpur-color-transparent-black-100);
    --purpur-color-background-interactive-expressive-negative-active: var(--purpur-color-purple-300);
    --purpur-color-background-interactive-expressive-negative-hover: var(--purpur-color-purple-400);
    --purpur-color-background-interactive-expressive-negative: var(--purpur-color-purple-550);
    --purpur-color-background-interactive-expressive-active: var(--purpur-color-purple-800);
    --purpur-color-background-interactive-expressive-hover: var(--purpur-color-purple-700);
    --purpur-color-background-interactive-expressive: var(--purpur-color-purple-550);
    --purpur-color-background-interactive-primary-negative-active: var(--purpur-color-purple-300);
    --purpur-color-background-interactive-primary-negative-hover: var(--purpur-color-purple-200);
    --purpur-color-background-interactive-primary-negative: var(--purpur-color-purple-100);
    --purpur-color-background-interactive-primary-active: var(--purpur-color-purple-600);
    --purpur-color-background-interactive-primary-hover: var(--purpur-color-purple-700);
    --purpur-color-background-interactive-primary: var(--purpur-color-purple-800);
    --purpur-color-background-interactive-auto-fill: var(--purpur-color-blue-50);
    --purpur-color-background-on-image-negative: var(--purpur-color-transparent-black-700);
    --purpur-color-background-on-image: var(--purpur-color-transparent-white-850);
    --purpur-color-background-secondary-negative: var(--purpur-color-gray-900);
    --purpur-color-background-secondary: var(--purpur-color-gray-50);
    --purpur-color-background-primary-negative: var(--purpur-color-gray-950);
    --purpur-color-background-primary: var(--purpur-color-functional-white);
    --purpur-color-text-tone-on-tone-tertiary: var(--purpur-color-beige-700);
    --purpur-color-text-tone-on-tone-secondary: var(--purpur-color-purple-900);
    --purpur-color-text-tone-on-tone-primary: var(--purpur-color-purple-100);
    --purpur-color-text-status-black-friday: var(--purpur-color-functional-white);
    --purpur-color-text-status-attention: var(--purpur-color-functional-white);
    --purpur-color-text-status-special: var(--purpur-color-purple-800);
    --purpur-color-text-status-neutral: var(--purpur-color-transparent-black-700);
    --purpur-color-text-status-info-medium: var(--purpur-color-blue-500);
    --purpur-color-text-status-info-strong: var(--purpur-color-blue-700);
    --purpur-color-text-status-warning-medium: var(--purpur-color-orange-500);
    --purpur-color-text-status-warning-strong: var(--purpur-color-orange-700);
    --purpur-color-text-status-success-medium: var(--purpur-color-green-500);
    --purpur-color-text-status-success-strong: var(--purpur-color-green-700);
    --purpur-color-text-status-error-medium: var(--purpur-color-red-500);
    --purpur-color-text-status-error-strong: var(--purpur-color-red-700);
    --purpur-color-text-status-discount: var(--purpur-color-purple-550);
    --purpur-color-text-interactive-selected: var(--purpur-color-purple-550);
    --purpur-color-text-interactive-on-destructive: var(--purpur-color-functional-white);
    --purpur-color-text-interactive-on-expressive-negative-active: var(--purpur-color-purple-900);
    --purpur-color-text-interactive-on-expressive-negative-hover: var(--purpur-color-purple-900);
    --purpur-color-text-interactive-on-expressive-negative: var(--purpur-color-functional-white);
    --purpur-color-text-interactive-on-expressive: var(--purpur-color-functional-white);
    --purpur-color-text-interactive-primary-negative-active: var(--purpur-color-purple-200);
    --purpur-color-text-interactive-primary-negative-hover: var(--purpur-color-purple-200);
    --purpur-color-text-interactive-primary-negative: var(--purpur-color-purple-100);
    --purpur-color-text-interactive-on-primary-negative: var(--purpur-color-purple-800);
    --purpur-color-text-interactive-on-primary: var(--purpur-color-functional-white);
    --purpur-color-text-interactive-primary-active: var(--purpur-color-purple-900);
    --purpur-color-text-interactive-primary-hover: var(--purpur-color-purple-800);
    --purpur-color-text-interactive-primary: var(--purpur-color-purple-700);
    --purpur-color-text-weak-negative: var(--purpur-color-transparent-white-400);
    --purpur-color-text-medium-negative: var(--purpur-color-transparent-white-700);
    --purpur-color-text-default-negative: var(--purpur-color-transparent-white-950);
    --purpur-color-text-weak: var(--purpur-color-transparent-black-400);
    --purpur-color-text-medium: var(--purpur-color-transparent-black-600);
    --purpur-color-text-default: var(--purpur-color-transparent-black-850);
    --purpur-color-brand-white: var(--purpur-color-functional-white);
    --purpur-color-brand-off-black: var(--purpur-color-gray-900);
    --purpur-color-brand-light-beige: var(--purpur-color-beige-50);
    --purpur-color-brand-beige: var(--purpur-color-beige-100);
    --purpur-color-brand-deep-beige: var(--purpur-color-beige-700);
    --purpur-color-brand-light-purple: var(--purpur-color-purple-100);
    --purpur-color-brand-core-purple: var(--purpur-color-purple-550);
    --purpur-color-brand-deep-purple: var(--purpur-color-purple-900);
    --purpur-filter-blur-on-image: blur(24px);
    --purpur-motion-duration-100: .1s;
    --purpur-motion-duration-150: .15s;
    --purpur-motion-duration-200: .2s;
    --purpur-motion-duration-300: .3s;
    --purpur-motion-duration-400: .4s;
    --purpur-motion-duration-500: .5s;
    --purpur-motion-duration-1500: 1.5s;
    --purpur-motion-duration-2000: 2s;
    --purpur-motion-easing-ease-in: cubic-bezier(.35,.07,.88,.43);
    --purpur-motion-easing-ease-out: cubic-bezier(.33,.9,.75,.95);
    --purpur-motion-easing-ease-in-out: cubic-bezier(.45,0,.52,.98);
    --purpur-shadow-none: calc(0rem * var(--purpur-rescale)) calc(0rem * var(--purpur-rescale)) calc(0rem * var(--purpur-rescale)) calc(0rem * var(--purpur-rescale)) rgba(0,0,0,.1);
    --purpur-shadow-sm: calc(0rem * var(--purpur-rescale)) calc(.0625rem * var(--purpur-rescale)) calc(.25rem * var(--purpur-rescale)) calc(0rem * var(--purpur-rescale)) rgba(0,0,0,.1);
    --purpur-shadow-md: calc(0rem * var(--purpur-rescale)) calc(.25rem * var(--purpur-rescale)) calc(.75rem * var(--purpur-rescale)) calc(0rem * var(--purpur-rescale)) rgba(0,0,0,.1);
    --purpur-shadow-lg: calc(0rem * var(--purpur-rescale)) calc(.75rem * var(--purpur-rescale)) calc(1.5rem * var(--purpur-rescale)) calc(0rem * var(--purpur-rescale)) rgba(0,0,0,.1);
    --purpur-spacing-1600: calc(8rem * var(--purpur-rescale));
    --purpur-spacing-1200: calc(6rem * var(--purpur-rescale));
    --purpur-spacing-1000: calc(5rem * var(--purpur-rescale));
    --purpur-spacing-800: calc(4rem * var(--purpur-rescale));
    --purpur-spacing-600: calc(3rem * var(--purpur-rescale));
    --purpur-spacing-400: calc(2rem * var(--purpur-rescale));
    --purpur-spacing-300: calc(1.5rem * var(--purpur-rescale));
    --purpur-spacing-250: calc(1.25rem * var(--purpur-rescale));
    --purpur-spacing-200: calc(1rem * var(--purpur-rescale));
    --purpur-spacing-150: calc(.75rem * var(--purpur-rescale));
    --purpur-spacing-100: calc(.5rem * var(--purpur-rescale));
    --purpur-spacing-50: calc(.25rem * var(--purpur-rescale));
    --purpur-spacing-25: calc(.125rem * var(--purpur-rescale));
    --purpur-spacing-10: calc(.0625rem * var(--purpur-rescale));
    --purpur-spacing-0: calc(0rem * var(--purpur-rescale));
    --purpur-spacing-page-padding-xl: var(--purpur-spacing-600);
    --purpur-spacing-page-padding-lg: var(--purpur-spacing-600);
    --purpur-spacing-page-padding-md: var(--purpur-spacing-300);
    --purpur-spacing-page-padding-sm: var(--purpur-spacing-200);
    --purpur-spacing-gutter-xl: var(--purpur-spacing-300);
    --purpur-spacing-gutter-lg: var(--purpur-spacing-300);
    --purpur-spacing-gutter-md: var(--purpur-spacing-300);
    --purpur-spacing-gutter-sm: var(--purpur-spacing-200);
    --purpur-typography-family-default: TeliaSans,Helvetica,Arial,"Lucida Grande",sans-serif;
    --purpur-typography-family-display: TeliaSansHeading,Helvetica,Arial,"Lucida Grande",sans-serif;
    --purpur-typography-weight-normal: 400;
    --purpur-typography-weight-medium: 500;
    --purpur-typography-weight-bold: 700;
    --purpur-typography-line-height-tight: 100%;
    --purpur-typography-line-height-default: 125%;
    --purpur-typography-line-height-loose: 150%;
    --purpur-typography-line-height-looser: 175%;
    --purpur-typography-scale-50: calc(.75rem * var(--purpur-rescale));
    --purpur-typography-scale-75: calc(.875rem * var(--purpur-rescale));
    --purpur-typography-scale-100: calc(1rem * var(--purpur-rescale));
    --purpur-typography-scale-150: calc(1.125rem * var(--purpur-rescale));
    --purpur-typography-scale-200: calc(1.25rem * var(--purpur-rescale));
    --purpur-typography-scale-300: calc(1.375rem * var(--purpur-rescale));
    --purpur-typography-scale-400: calc(1.5rem * var(--purpur-rescale));
    --purpur-typography-scale-500: calc(1.75rem * var(--purpur-rescale));
    --purpur-typography-scale-600: calc(2rem * var(--purpur-rescale));
    --purpur-typography-scale-650: calc(2.25rem * var(--purpur-rescale));
    --purpur-typography-scale-700: calc(2.5rem * var(--purpur-rescale));
    --purpur-typography-scale-800: calc(3rem * var(--purpur-rescale));
    --purpur-typography-scale-850: calc(3.5rem * var(--purpur-rescale));
    --purpur-typography-scale-900: calc(4rem * var(--purpur-rescale));
    --purpur-typography-scale-1000: calc(5rem * var(--purpur-rescale));
    --purpur-typography-scale-1100: calc(6rem * var(--purpur-rescale))
}

/* Apply Theme to Global Elements */
body {
  background-color: var(--purpur-body-background);
  color: var(--purpur-text-color);
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Headings */
h1 {
  color: var(--purpur-heading-color);
  font-size: 2rem;
}

p {
  color: var(--purpur-text-color);
  font-size: 1rem;
}

/* Apply Theme to MUI Components */
.MuiButton-root {
  background-color: var(--purpur-primary-color);
  color: var(--purpur-text-color);
}

.MuiPaper-root {
  background-color: var(--purpur-background-color);
  color: var(--purpur-text-color);
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px white inset;
    -webkit-text-fill-color: #333;
}